{{#loggedin}}
<div id="links">
    <a href="#" onclick="loadHome(); return false;">
        <img src="/images/logo.png" alt="A Better Easy Shop">
    </a>
    <a href="#" onclick="loadHome(); return false;">Home</a>
    <a href="#" onclick="editProfile(); return false;">Profile</a>
</div>
<div class="header-right">
    <span>Hello, <span class="username">{{username}}</span></span>
    <a href="#" onclick="userService.logout(); return false;" class="text-muted" style="font-size:0.85rem;">Sign out</a>
    <div class="cart" onclick="showCart()">
        <i class="fa-solid fa-cart-shopping"></i>
        <span id="cart-items">0</span>
    </div>
</div>
{{/loggedin}}
{{#loggedout}}
<div id="links">
    <a href="#" onclick="loadHome(); return false;">
        <img src="/images/logo.png" alt="A Better Easy Shop">
    </a>
    <a href="#" onclick="loadHome(); return false;">Home</a>
</div>
<div class="header-right">
    <a href="#" onclick="showLoginForm(); return false;" class="btn btn-primary btn-sm">Sign In</a>
</div>
{{/loggedout}}
