{{#products}}
<div class="product">
    <div class="photo">
        <img
            src="/images/products/{{imageUrl}}"
            alt="{{name}}"
            onclick="showImageDetailForm('{{name}}', '/images/products/{{imageUrl}}')"
        >
    </div>
    <div class="info">
        <div class="name">{{name}}</div>
        <div class="description">{{description}}</div>
        <div class="price">${{price}}</div>
    </div>
    <div class="add-button invisible">
        <button class="btn btn-success" onclick="cartService.addToCart({{productId}})">
            <i class="fa-solid fa-cart-plus"></i> Add to Cart
        </button>
    </div>
</div>
{{/products}}
